<%= link_to "Update Business Information", edit_business_path(@business.slug) %>
<div class="business_info">
  <h1><%= @business.name %></h1>
  <%= @business.description %>
</div>

<% if @business.items.exists? %>
  <%= render "shared/item_list" %>
<% end  %>
