<div class="business_info">
  <h1><%= @business.name %></h1>
  <%= @business.description %>
</div>

<% if current_admin? %>
    <%= link_to "View Business Dashboard", business_dashboard_path(@business.slug) %>
<% end %>

<% if @business.active? %>
  <% if @business.items.exists? %>
    <%= render "shared/item_list" %>
  <% end  %>
<% else %>
  <p id="pending_notice" >This business is pending approval.</p>
<% end  %>
