<div class="admin_header">
  <h1>Business Admin Dashboard</h1>
  <h2>Welcome, <%= @user.name%> </h2>
</div>

<div class="business_list"
<h2>Your Businesses</h2>
<% @businesses.each do |business| %>
  <%= link_to business.name, business_dashboard_path(slug: business.slug) %>
<% end %>
</div>
