<div class="">
    <div class="btn-group">
      <button type="button" name="btn btn-default" id="open">Open Auctions</button>
      <button type="button" name="btn btn-default" id="won">Auctions Won</button>
      <button type="button" name="btn btn-default" id="lost">Auctions Lost</button>
    </div>
</div>
