<% @items.each_slice(3) do |items| %>
 <div class="row">
   <div class ="center">
   <% items.each do |item| %>
   <div class="col-md-4">
     <div id="item-card">
       <%= link_to (image_tag item.image, alt: (item.name + item.id.to_s), class: "img-thumbnail"), item_path(item) %>
       <div id="card-text">
         <p><%= link_to item.name, item_path(item) %> - $<%= item.price %></p>
       </div>
     </div>
   </div>
   <% end %>
   </div>
 </div>
<% end %>
