<div id="page_header">
  <%= image_tag "https://nktva42l4am2fq6f1bf2dz43-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/hipster_dog.jpg"%>
  <div id="greeting-container">
    <div id="greeting-bg"></div>
    <div id="greeting">
      <h2>Welcome to LitBids</h2>
      <h5><em>High stakes bidding, one of a kind items</em></h5>
      <h5><em>Things are about to get lit</em></h5>
    </div>
  </div>
</div>
