<div id="page_header">
  <img src="https://s3-us-west-1.amazonaws.com/photos.snapwi.re/Week%2049/SW_Josh%20Felise.jpg">
  <div id="greeting-container">
    <div id="greeting-bg"></div>
    <div id="greeting">
      <h5><em>High stakes bidding, one of a kind items</em></h5>
      <h5><em>Things are about to get lit</em></h5>
    </div>
  </div>
</div>
