<div id="page_header">
  <%= image_tag "https://98dfb7d47a89c189da3b5dbdf7dde8d956b567eb.googledrive.com/host/0Bx8HaVf33b7rfnBONlFaNllPOVRvYVRXME1vMHM3VFNTMF9BWjdrZkxjTmR1WXB5Rm9CQnc/miscellaneous/kadysz-21.jpg"%>
  <div id="greeting-container">
    <div id="greeting-bg"></div>
    <div id="greeting">
      <h2>Welcome to LitBids</h2>
      <h5><em>High stakes bidding, one of a kind items</em></h5>
      <h5><em>Things are about to get lit</em></h5>
    </div>
  </div>
</div>
