<div id="bid_form">
  <% if current_user %>
      <%= form_for ([item, @bid]) do |f| %>
          <%= f.number_field :price, min: item.min_bid, class: "form-control", step: 0.01 %>
        <%= f.submit "Place Bid", class: "btn btn-secondary form-control" %>
      <% end  %>
    <% else %>
      <%= link_to "Login or Create Account to Bid", login_path %>
    <%end%>
</div>
